<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Agenzia Immobiliare - Inserisci un nuovo contratto</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
  <link href="/public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="/public/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/public/assets/css/style.css" rel="stylesheet">
</head>
<body>
  <!-- ======= Navbar ======= -->
  <%- include('navbar.ejs') %>
  <!-- End Navbar -->
  <main id="main">
  <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">Inserisci un nuovo contratto</h1>
               </div>
         </div>         
        </div>
      </div>
    </section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 section-t8">
            <div class="row">
              <div class="col-md-7">
                <form action="/nuovocontratto" method="post" role="form" enctype="multipart/form-data" class="php-email-form">
                  <div class="row">
				  <div class="col-md-6 mb-3">
                      <div class="form-group">
					     <label for="categoria">Categoria:</label>
						 <select name="categoria" id="categoria" class="form-control form-control-lg form-control-a">
						 <option hidden disabled selected value>Seleziona</option>
							<option value="affitto">Affitto</option>
							<option value="vendita">Vendita</option>
					     </select>
                      </div>
                    </div>
					<div id="dynamicform">
                    
                  </div>
				 </div>
                </form>
              </div>            
            </div>
          </div>
        </div>
      </div>
  </main>
  <!-- ======= Footer ======= -->
  <%- include('footer.ejs') %>
  <!-- End  Footer -->
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>
  <!--  JS Files -->
  <script src="/public/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/public/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/public/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/public/assets/vendor/scrollreveal/scrollreveal.min.js"></script>
  <script src="/public/assets/js/main.js"></script>
  
  <script>
	  $(document).ready(function(){
	   $("#categoria").change(function(){
	   var category =  $(this).children(":selected").text();
	   switch (category) 
	  {
	   case "Affitto":
	   $( "#dynamicform" ).html(' <div class="col-md-6 mb-3">' +
		  '<div class="form-group"> ' +
		   '<label for="name">Codice Fiscale Cliente</label>' +
		   '<input type="text" id="cf" name="cf" class="form-control form-control-lg form-control-a" placeholder="Codice Fiscale" required>' +
		  '</div>' +
		'</div>' +
		'<div class="col-md-6 mb-3">' +
		  '<div class="form-group">' +
			'<label for="id">Identificativo Proprietà</label> ' +
			'<input type="text" id="id" name="id" class="form-control form-control-lg form-control-a" placeholder="Id" required>' +
		  '</div>' +
		'</div>' +
		'<div class="col-md-6 mb-3">' +
		  '<div class="form-group"> ' +
			'<label for="prezzo">Prezzo</label> ' +
				'<input type="text" id="prezzo" name="prezzo" class="form-control form-control-lg form-control-a" placeholder="Prezzo" required>' +
		  '</div> ' +
		'</div> ' +
		'<div class="col-md-6 mb-3">' +
		 '<div class="form-group">' +
		'<label> ' +
		  'Data inizio e fine AFFITTO:' +
		  '<input type="date" name="datainizio">' +
		'</label>' +
		'<br><br>' +
		'<label>' +
		  '<input type="date" name="datafine">' +
		'</label>' +
		 '</div>' +
		'</div>' +
		'<div class="col-md-12 text-center">' +
		  '<div class="form-group">' +
			  '<label for="contratto">Seleziona il file del contratto:</label>' +
			  '<input type="file" id="contratto" name="contratto" accept=".pdf" required><br><br>' +
		  '</div>' +
		'</div>' +
		'<div class="col-md-12 text-center">' +
		  '<input type="submit" value="Inserisci" id="tastoInserisciContratto" class="btn btn-a">' +
		  '<br><br>' +
		'</div>' 
		);
	   break;
	   case "Vendita":
	    $( "#dynamicform" ).html( ' <div class="col-md-6 mb-3">' +
		  '<div class="form-group"> ' +
		   '<label for="name">Codice Fiscale Cliente</label>' +
		   '<input type="text" id="cf" name="cf" class="form-control form-control-lg form-control-a" placeholder="Codice Fiscale" required>' +
		  '</div>' +
		'</div>' +
		'<div class="col-md-6 mb-3">' +
		  '<div class="form-group">' +
			'<label for="id">Identificativo Proprietà</label> ' +
			'<input type="text" id="id" name="id" class="form-control form-control-lg form-control-a" placeholder="Id" required>' +
		  '</div>' +
		'</div>' +
		'<div class="col-md-6 mb-3">' +
		  '<div class="form-group"> ' +
			'<label for="prezzo">Prezzo</label> ' +
				'<input type="text" id="prezzo" name="prezzo" class="form-control form-control-lg form-control-a" placeholder="Prezzo" required>' +
		  '</div> ' +
		'</div> ' +
		'<div class="col-md-12 text-center">' +
		  '<div class="form-group">' +
			  '<label for="contratto">Seleziona il file del contratto:</label>' +
			  '<input type="file" id="contratto" name="contratto" accept=".pdf" required><br><br>' +
		  '</div>' +
		'</div>' +
		'<div class="col-md-12 text-center">' +
		  '<input type="submit" value="Inserisci" id="tastoInserisciContratto" class="btn btn-a">' +
		  '<br><br>' +
		'</div>' 
		);
	   break;
	   default:
	   }
	   }); 
	 }); 
  </script>
 
</body>
</html>