<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Agenzia immobiliare</h3>
          </div>
          
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Phone .</span> contact@example.com
              </li>
              <li class="color-a">
                <span class="color-text-a">Email .</span> +54 356 945234
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Il team</h3>
          </div>
          <div class="w-body-a">
            <div class="w-body-a">
              <ul class="list-unstyled">
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="agenti">Site Map</a>
                </li>
                <!--<li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Legal</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Agent Admin</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Careers</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Affiliate</a>
                </li>
                <li class="item-list-a">
                  <i class="fa fa-angle-right"></i> <a href="#">Privacy Policy</a>
                </li>-->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Pagine principali</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="list-inline-item">
                <a href="/home">Home</a>
              </li>
              <li class="list-inline-item">
                <a href="/clienti">Clienti</a>
              </li>
              <li class="list-inline-item">
                <a href="/appuntamenti">Appuntamenti</a>
              </li>
              <li class="list-inline-item">
                <a href="/proprieta/immobili/vendita">Immobili in vendita</a>
              </li>
              <li class="list-inline-item">
                <a href="/proprieta/immobili/affitto">Immobili in affitto</a>
              </li>
              <li class="list-inline-item">
                <a href="/proprieta/fondi/vendita">Fondi in vendita</a>
              </li>
              <li class="list-inline-item">
                <a href="/proprieta/fondi/affitto">Fondi in affitto</a>
              </li>   
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="/home">Home</a>
            </li>
            <li class="list-inline-item">
              <a href="/clienti">Clienti</a>
            </li>
            <li class="list-inline-item">
              <a href="/appuntamenti">Appuntamenti</a>
            </li>
            
            <li class="list-inline-item">
              <a href="/proprieta/immobili/vendita">Immobili in vendita</a>
            </li>
            <li class="list-inline-item">
              <a href="/proprieta/immobili/affitto">Immobili in affitto</a>
            </li>
            <li class="list-inline-item">
              <a href="/proprieta/fondi/vendita">Fondi in vendita</a>
            </li>
            <li class="list-inline-item">
              <a href="/proprieta/fondi/affitto">Fondi in affitto</a>
            </li>   
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">EstateAgency</span> All Rights Reserved.
          </p>
        </div>
        <div class="credits">
        
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>
  </div>
</footer>