<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Agenzia immobiliare</h3>
          </div>
          
          <div class="w-footer-a">
            <ul class="list-unstyled">
              <li class="color-a">
                <span class="color-text-a">Email </span> monicadelforte@gmail.com
              </li>
              <li class="color-a">
                <span class="color-text-a">Telefono </span> +39 327 6162343
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="/agenti">Gli agenti</a>
              </li>
			  <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="/contrattiAffitto">Contratti d'affitto</a>
              </li>
			  <li class="item-list-a">
                <i class="fa fa-angle-right"></i> <a href="/contrattiVendita">Contratti di vendita </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12 col-md-4 section-md-t3">
        <div class="widget-a">
          <div class="w-header-a">
            <h3 class="w-title-a text-brand">Pagine principali</h3>
          </div>
          <div class="w-body-a">
            <ul class="list-unstyled">
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i><a href="/home">Home</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i><a href="/acquirenti">Acquirenti</a>
              </li>
			  <li class="item-list-a">
                <i class="fa fa-angle-right"></i><a href="/proprietari">Proprietari</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i><a href="/appuntamenti">Appuntamenti</a>
              </li>
              <li class="item-list-a">
                <i class="fa fa-angle-right"></i><a href="/proprieta">Proprietà</a>
              </li>
              
            
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            Leonardo Pedretti, Giulia Casarini
          </p>
        </div>
       
      </div>
    </div>
  </div>
</footer>