<div class="box-collapse">
  <div class="title-box-d">
    <h3 class="title-d">Proprietà</h3>
  </div>
  <span class="close-box-collapse right-boxed ion-ios-close"></span>
  
  <%  var parsed_params = JSON.parse(searchParams) %>
  <div class="box-collapse-wrap form">
    <form class="form-a" action="/ricercaproprieta" id="ricerca" method="post">
      <div class="row">
        <div class="col-md-12 mb-2">
          <div class="form-group">
            <label for="Type">Cerca</label>
            <input type="text" class="form-control form-control-lg form-control-a" id="cerca" placeholder="Cerca">
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="Type">Categoria</label>
            <select class="form-control form-control-lg form-control-a" id="category">
			  <% for(var i=0; i < parsed_params[0].length; i++) { %>
				<option><%= parsed_params[0][i].categoria %></option>
			  <% } %>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="type">Tipo</label>
            <select class="form-control form-control-lg form-control-a" id="type">
              <% for(var i=0; i < parsed_params[1].length; i++) { %>
				<option><%= parsed_params[1][i].tipo %></option>
			  <% } %>
            </select>
          </div>
        </div>
		<div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="city">Città</label>
            <select class="form-control form-control-lg form-control-a" id="city">
              <% for(var i=0; i < parsed_params[2].length; i++) { %>
				<option><%= parsed_params[2][i].citta %></option>
			  <% } %>
            </select>
          </div>
        </div>
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="garages">Servizi</label>
            <select class="form-control form-control-lg form-control-a" id="services">
              <option></option>
            </select>
          </div>
        </div>
        <!--<div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="bathrooms">Bathrooms</label>
            <select class="form-control form-control-lg form-control-a" id="bathrooms">
              <option>Any</option>
              <option>01</option>
              <option>02</option>
              <option>03</option>
            </select>
          </div>
        </div>-->
        <div class="col-md-6 mb-2">
          <div class="form-group">
            <label for="price">Prezzo</label>
            <select class="form-control form-control-lg form-control-a" id="price">
              <option></option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-b" id="tastoCerca" function=searchValidate()>Cerca Proprietà</button>
        </div>
      </div>
    </form>
  </div>
</div>

<nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/home">Estate<span class="color-b">Agency</span></a>
      <button type="button" class="btn btn-link nav-search navbar-toggle-box-collapse d-md-none" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/appuntamenti">Appuntamenti</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/clienti">Clienti</a>
          </li>
         
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/proprieta" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Proprietà
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="/proprieta/immobili/affitto">Immobili in affitto</a>
              <a class="dropdown-item" href="/proprieta/immobili/vendita">Immobili in vendita</a>
              <a class="dropdown-item" href="/proprieta/fondi/affitto">Fondi Commerciali in affitto</a>
              <a class="dropdown-item" href="/proprieta/fondi/vendita">Fondi Commerciali in vendita </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/agenti">Agenti</a>
          </li>
		 </ul>
      </div>
	  <button type="button" class="btn btn-b-n d-none d-md-block" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
        <a href="/logout" style="color:white"><span class="" aria-hidden="true" >Logout</span></a>
      </button>
      <button type="button" class="btn btn-b-n navbar-toggle-box-collapse d-none d-md-block" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-expanded="false">
        <span class="fa fa-search" aria-hidden="true"></span>
      </button>
    </div>
  </nav>
  
  <script>
  function searchValidate(){
	if( $('#category').val() != "" ){
		$('#ricerca').submit();
	} 
	}
	
	$( "#tastoCerca" ).click(function( event ){
	event.preventDefault();
	searchValidate();
		
	});
 
  </script>